{% extends 'base.html'%}


{% block main %}

<body style="background-image: url(../static/imagens/fundo2.png);">   
    
    <h1>Entre em contato</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, hic laboriosam nobis dolore porro distinctio aliquid assumenda vel ut facere dicta nihil perspiciatis adipisci magnam ab voluptas fugiat provident corrupti?

    </p>

    <hr>

    <form action="">

        Seu E-mail: <br>
        <input type="text" name="email"> <br>
        Assunto: <br>
        <input type="text" name="assunto"> <br>
        Descrição: <br>
        <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>


    </form>

</body>

{% endblock %}