{% extends 'base.html' %}


{% block main %}

<body style="background-image: url(../static/imagens/fundo2.png);">

    <nav class="nav-curso" style="padding-top: 50px;">

        
            <span>
                <iframe width="330" height="215" src="https://www.youtube.com/embed/5Q0X87W6EbU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>

            <span>
                <iframe width="330" height="215" src="https://www.youtube.com/embed/JBfp30Zy_fc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>

            <span>
                <iframe width="330" height="215" src="https://www.youtube.com/embed/dm6mw8jFFQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
        
            <span>
                <iframe width="330" height="215" src="https://www.youtube.com/embed/_auhkjiRmX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>

            <span>
                <iframe width="330" height="215" src="https://www.youtube.com/embed/PR3da0AuB40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </span>

            <span>
                <iframe width="330" height="215" src="https://www.youtube.com/embed/3-fMIg3VLVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>

   
          
    </nav>
    
</body>

{% endblock %}