{% extends "base.html" %}

{% block title %} 
    HOME 
{% endblock %}

{% block main %}
    <img class="imagem-capa" src="{{url_for('static', filename='./imagens/capa.png')}}" alt="capa">


    <h1>Sobre a Universidade</h1>


    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eaque vel ut magni autem dolorum eum minus consequuntur debitis soluta assumenda tenetur, qui ullam doloribus corporis laudantium quasi nemo dolore. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum delectus illum cum nam odit? Eligendi quidem optio, fugiat eveniet maxime praesentium aspernatur fugit nam alias tempora nesciunt cupiditate pariatur quas.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eaque vel ut magni autem dolorum eum minus consequuntur debitis soluta assumenda tenetur, qui ullam doloribus corporis laudantium quasi nemo dolore. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum delectus illum cum nam odit? Eligendi quidem optio, fugiat eveniet maxime praesentium aspernatur fugit nam alias tempora nesciunt cupiditate pariatur quas.</p>

   

{% endblock %}


