{% extends 'base.html' %}


{% block main %}

<body style="background-image: url(../static/imagens/fundo2.png);">    

<h1>Quem somos</h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure officiis quis dignissimos facere illo esse dolorum, debitis illum sint. Eos animi magnam vero atque rerum doloribus delectus, ullam explicabo perspiciatis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, perferendis? Dignissimos ullam pariatur rem non est libero laborum culpa delectus velit nisi? Ex dolor non veritatis. Tempore earum quod reiciendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eius fugiat, magni incidunt laboriosam sequi amet vitae iusto atque repudiandae perferendis! Deleniti culpa molestias et amet accusamus cupiditate ut itaque?</p>


<h4>5 motivos para estudar</h4>

<ol>
    <li>Material sempre atualizado</li>
    <li>Computador em sala de aula</li>
    <li>Professor dedicado</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização</li>
</ol>

<hr>

<h4>Objetivos</h4>


<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque est sunt cumque deserunt qui quos placeat soluta error quo ad, optio modi sint iure enim, laborum rerum harum, esse velit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur ut cum sunt itaque praesentium similique eaque placeat blanditiis ullam iure. Dolorem quos consequatur fugit maxime facilis magnam nemo quae reprehenderit.</p>

</body>


{% endblock %}